# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
/.yarn
/.pnp.*

# Environment variables
.env
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.iml

# MacOS system files
.DS_Store

# Miscellaneous
*.log
*.lock